* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #E5E5E5;
    font-family: Arial, sans-serif;
    position: relative;
}

header {
    display: flex;
    align-items: center;
    padding: 7px 10px;
    justify-content: right;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.user,
.password {
    background-color: white;
    width: 150px;
    height: 36px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}
 
.user input,
.password input {
    border: none;
    outline: none;
    font-size: 15px;
    width: 100%;
}

.login-btn,
.signup-btn {
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #535353;
    color: white;
    font-weight: bold;
    font-family: Arial, sans-serif;
    font-size: 15px;
    cursor: pointer;
    width: 90px;
    height: 36px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

.error-message {
    color: red;
    font-size: 13px;
    margin-top: 5px;
    text-align: left;
}

.background-image {
    position: absolute;
    top: 120px;
    right: 70px;
    width: 400px;
    height: 600px;
    background-image: url('../images/index.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: hue-rotate(20deg) saturate(70%) brightness(90%);
    z-index: 1;
}

.name {
    position: absolute;
    font-size: 190px;
    font-family: "Poetsen One", sans-serif;
    font-weight: 100;
    top: 60px;
    left: 70px;
}

.modes {
    position: absolute;
    font-size: 40px;
    font-family: Arial, sans-serif;
    font-weight: 100;
    top: 350px;
    left: 70px;
}