* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-family: Arial, sans-serif;
  padding: 20px;
}

h1 {
    margin-top: 90px;
}

.messages-section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  gap: 70px;
}

.messages-table-container {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 40px;
}

.messages-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 15px;
  background: white;
}

.messages-table thead tr {
  background-color: #f4f4f9;
  border-radius: 10px;
}

.messages-table th {
  text-align: left;
  padding: 15px;
  font-size: 14px;
  color: #535353;
}

.messages-table td {
  padding: 15px;
  background-color: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.03);
  border-radius: 10px;
  font-size: 15px;
}

.messages-table tbody tr {
  border-bottom: 1px solid #535353;
}

.messages-table tr {
  margin-bottom: 10px;
}