* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}


header {
    background-color: #32533D;
    display: flex;
    align-items: center;
    padding: 7px 10px;
    margin-bottom: 20px;
    justify-content: space-between;
}

.main-page {
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px; 
    font-size: 28px;
    font-weight: bold;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: white;
    padding: 5px 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.search-bar input {
    border: none;
    outline: none;
    font-size: 16px;
}

.search-button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
}

.filter-button {
    background: #32533D;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
}

.filter-button .material-symbols-outlined {
    color: white;
}

.profile-button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
}

.profile-button .material-symbols-outlined {
    font-size: 40px;
    color: white;
}

.material-symbols-outlined {
    font-size: 28px;
    color: #000000;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f9;
    margin: 0;
    padding: 20px;
}

.cards-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin: 0 auto;
    gap: 20px;
}

.card{
    flex: 1;
    min-width:91px;
}


.card .container {
    background-color: #eeeeee;
    width: 100%;
    border-radius: 20px;
    height: 100%;
}

.card .details {
    padding: 16px;
}

.card .content-wrapper {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.card .img {
    width: 214px;
    border-radius: 12px;
    height: 214px;
    object-fit: cover;
    flex-shrink: 0;
}

.card .text-content {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.card .title {
    font-size: 24px;
    font-weight: 600;
    color: #03254e;
    margin: 0;
}

.card .subtitle-container {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.card .subtitles {
    padding: 5px 10px;
    background-color: #03254e;
    border-radius: 12px;
    font-size: 15px;
    font-weight: 400;
    color: #eeeeee;
    display: inline-block;
}

.card .description {
    font-size: 14px;
    color: #000000;
    line-height: 150%;
    margin: 0;
}

